* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.conteiner1 {
  width: 100%;
  height: 100px;
}
.asist1 {
  padding: 30px 150px;
}
.text1 {
  color: blue;
  font-weight: 800;
  font-size: 30px;
}
ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
a {
  text-decoration: none;
  color: grey;
}
.btn1 {
  border: 1px solid grey;
  color: blue;
  background-color: white;
  padding: 10px 30px;
  border-radius: 8px;
}
.none{
    display: none;
}
.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conteiner2 {
  width: 100%;
  height: 750px;
}
.asist2 {
  padding: 70px 150px;
}
.text2 {
  font-size: 50px;
}
.text3 {
  color: grey;
  font-size: 20px;
  margin-top: 30px;
}
.btn2 {
  color: white;
  background-color: blue;
  border: none;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 30px;
}
.flex2 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.conteiner2 {
  width: 100%;
  height: 600px;
}
.asist3 {
  padding: 70px 150px;
}
.img1 {
  margin-top: -100px;
}
.text4 {
  font-size: 50px;
  font-weight: 600;
}
.icon1 {
  width: 30px;
  height: 30ppx;
  background-color: #f7f8fd;
  padding: 5px 10px;
  border-radius: 8px;
  color: blue;
}
.text5 {
  font-size: 20px;
  font-weight: 600;
}
.text6 {
  color: grey;
  margin-top: 0px;
}
.flex3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 310px;
  margin-top: 100px;
}
.flex4 {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.conteiner4 {
  width: 100%;
  height: 500px;
}
.asist4 {
  padding: 70px 150px;
}
.text7 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.img2 {
  position: absolute;
  left: 650px;
  top: 165px;
}
.img3 {
  z-index: -1;
  position: absolute;
  left: 180px;
}
.text8 {
  color: grey;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
}
.knop1 {
  width: 250px;
  height: 250px;
  box-shadow: 1px 1px 10px grey;
}
.icon2 {
  width: 40px;
  height: 40px;
  background-color: #f7f8fd;
  padding: 5px 10px;
  border-radius: 8px;
  color: blue;
  margin-left: 100px;
  margin-top: 60px;
}
.text9 {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}
.flex5 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.btn3 {
  color: white;
  background-color: blue;
  padding: 17px 60px;
  border: none;
  text-align: center;
  border-radius: 9px;
  font-size: 20px;
  margin-left: 650px;
  margin-top: 80px;
}
.conteiner5 {
  width: 100%;
  height: 500px;
  margin-top: 300px;
}
.asist5 {
  padding: 70px 150px;
}
.knop2 {
  width: 1200px;
  height: 400px;
  background-color: #446df6;
  border-radius: 15px;
  margin-left: 130px;
  padding: 20px 50px;
}
.text10 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  margin-left: 30px;
}
.text11 {
  color: white;
  margin-left: 30px;
  font-size: 20px;
  margin-top: 30px;
}
.img4 {
  margin-left: 30px;
  margin-top: 50px;
  display: inline;
}
.img5 {
  margin-left: 30px;
}
.img6 {
  position: relative;
  bottom: 340px;
  left: 600px;
  z-index: 1;
}
.img7 {
  position: relative;
  bottom: 340px;
  left: 300px;
}
.conteiner6 {
  width: 100%;
  height: 700px;
}
.asist6 {
  padding: 200px 290px;
}
.text12 {
  font-size: 40px;
  font-weight: 600;
}
.text13 {
  color: grey;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}
.flex8{
     display: flex;
  justify-content: space-between;
  align-items: center;
}
.img8 {
  display: inline;
}
.img9 {
  margin-left: 10px;
}
.flex6 {
  display: flex;
  justify-content: space-between;
}
.text14 {
  font-size: 30px;
  font-weight: 600;
}
.flex7 {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}
.text15 {
  color: grey;
}
.conteiner7{
  width: 100%;
  height: 100px;
  background-color: #141b41;
}
.asist7{
  padding: 30px 150px;
}
.ul1{
    width: 100%;
  list-style: none;
  display: flex;
  gap: 50px;
}
.a1{
  text-decoration: none;
  color: white;
}
.text10{
      color: white;
  font-weight: 800;
  font-size: 30px;
}
.btn4 {
  border: 1px solid white;
  color: white;
  background-color: inherit;
  padding: 10px 30px;
  border-radius: 8px;
}
@media (max-width:640px){
    .conteiner1{
        width: 100%;
        height: 100px;
    }
    .asist1{
        padding: 20px;
    }
    .text1{
        font-size: 40px;
    }
    ul{
        display: none;
    }
    .btn1{
        display: none;
    }
    .none{
        display: inline;
        margin-right: 30px;
    }
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
    .conteiner2{
        width: 100%;
        height: 750px;
    }
    .asist2{
        padding: 10px;
    }
    .imk{
        position: relative;
        top: 1150px;
    }
    .text2{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        margin-left: 50px;
    }
    .text3{
        font-size: 20px;
        text-align: center;
        margin-left: 50px;
    }
    .flex2{
        margin: 0;
    }
    .btn2{
        margin-left: 70px;
    }
    .img6{
        position: absolute;
        top: 500px;
        left: 50px;
    }
    .img3{
     position: absolute;
     height: 400px;
     left: 10px;
     width: 97%;
             top: 2200px;
    }
    .flex3{
        flex-direction: column;
    }
    .conteiner3{
        width: 100%;
        height: 800px;
    }
    .asist3{
        padding: 10px;
    }
    .conteiner4{
        width: 100%;
        height: 500%;
        margin-top: 1100px;
    }
    .text4{
        margin-top: -900px;
        margin-left: 30px;
    }
    .flex4{
       text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .icon1{
        margin-left: 150px;
        width: 60px;
        height: 60px;
    }
    .text5{
        font-size: 25px;
    }
    .text6{
        font-size: 23px;
    }
    .asist4{
        padding: 10px;
    }
    .text7{
        font-size: 30px;
    }
    .flex5{
        flex-direction: column;
    }
    .knop1{
        width: 100%;
    }
    .icon2{
        width: 80px;
        height: 80px;
        margin-left: 150px;
    }
    .btn3{
        margin-left: 60px;
    }
    .conteiner5{
        width: 100%;
        height: 500px;
        margin-top: 100px;
    }
    .asist5{
        padding: 10px;
    }
    .knop2{
        margin: 0;
       width: 100%;
       height: 900px;
       padding: 0px;
    }
    .fk{
        display: flex;
        flex-direction: column;
    }
    .text10{
        font-size: 35px;
        text-align: center;
        margin: 0px;
    }
    .text11{
        text-align: center;
        font-size: 16px;
        margin: 10px 0px;
    }
    .img4{
        width: 300px;
        height: 80px;
    }

    .img5{
        margin-top: 30px;
        width: 300px;
        height: 80px;
    }
    .img7{
        position: relative;
        top: 66px;
        left: -50px;
        margin: 0px;
    }
    .conteiner6{
        width: 100%;
        height: 700px;
        margin-top: 450px;
    }
    .asist6{
        padding: 0px;
    }
    .flex6{
        flex-direction: column;
    }
    .text12{
        text-align: center;
        font-size: 35px;
    }
    .text13{
        text-align: center;
    }
    .dd{
        position: absolute;
        top: 6400px;
        left: 130px;
    }
    .img8{
        width: 80px;
        height: 80px;
    }
    .img9{
        width: 80px;
        height: 80px;
    }
    .flex7{
        flex-direction: column;
    }
    .conteiner7{
        margin-top: 300px;
    }
    .odam{
        width: 150px;
        height: 150px;
        margin-left: 150px;
    }
    .text14{
        text-align: center;
        font-size: 50px;
    }
    .text15{
        text-align: center;
        font-size: 30px;
    }
    .flex8{
        flex-direction: column;
    }
    .conteiner7{
        width: 100%;
        height: 400px;
    }
    .btn4{
        width: 200px;
        padding: 15px 0px;
        margin-top: 30px;
    }
    .ul1{
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
        margin-right: 20px;
    }
    .text3{
        font-size: 15px;
        text-align: center;
    }
}