*{
    margin: 0;
    font-family: sans-serif;
}
.conteiner1{
    width: 100%;
    height: 100px;
}
.asist1{
    padding: 30px 150px;
}
.text1{
    color: blue;
    font-weight: 800;
    font-size: 30px;
}
ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
    color: grey;
}
.btn1{
    border: 1px solid grey;
    color: blue;
     background-color: white;
    padding: 10px 30px;
    border-radius: 8px;
    }
    .flex1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }